<div style="height: 80vh">
    <div style="display: flex; justify-content: center; margin-left: 40px">
        <a href="#link_chats"
            ><img
                width="100px"
                src="https://cdn.dribbble.com/users/2454973/screenshots/15145473/media/df8188352f0e1c4b47f9436f895396dd.jpg?compress=1&resize=1200x900&vertical=top"
        /></a>
    </div>
    <div style="display: flex; justify-content: center">
        <span style="font-weight: bold; color: #742ddd"
            >You have a new messenger.</span
        >
    </div>
</div>
